{% extends 'base.html.twig' %}

{% block title %}New Hearthstone Card{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1>Create a new Hearthstone Card</h1>
    </div>

    <div class="container mt-5">
        {{ include('hthcard/_form.html.twig') }}
    </div>

    <div class="container mt-5">
        <a href="{{ path('hearthstoneCardbook_show', {'id': hearthstone_cardbook.id} ) }}"><button class="btn btn-warning">Cancel</button></a>
    </div>

{% endblock %}
