{% extends 'base.html.twig' %}

{% block title %}New Hearthstone Cardbook{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Create a new Hearthstone Cardbook</h1>
    </div>

    <div class="container mt-5">
    {{ include('hearthstone_cardbook/_form.html.twig') }}
    </div>

    <div class="container mt-5">
        <a href="{{ path('app_member_show', {'id': member.id}) }}"><button class="btn btn-warning">Cancel</button></a>
    </div>
    
{% endblock %}
