{% extends 'base.html.twig' %}

{% block title %}Get Rick Rolled !{% endblock %}

{% block body %}


{# <iframe id="ytplayer" type="text/html" width="720" height="405"
src="https://www.youtube.com/embed/uHgt8giw1LY?autoplay=1"
frameborder="0" allowfullscreen> #}


<div class="text-center mt-5">
    <iframe id="myythtml5player3" frameborder="0" allowfullscreen="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    title="Rick Astley - Never Gonna Give You Up (no ads)" width="720" height="405"
    src="https://www.youtube.com/embed/uHgt8giw1LY?enablejsapi=1&amp;origin=https%3A%2F%2Fdevelopers-dot-devsite-v2-prod.appspot.com&amp;version=3&amp;autoplay=1&amp;playerapiid=myythtml5player3&amp;widget_referrer=https%3A%2F%2Fdevelopers.google.com%2F&amp;widgetid=4">
    </iframe>
</div>

<div class="text-center mt-5">
    <p>"Je te hais" - <strong>Louis Delyon</strong></p>
    <p>"..." <i>explose son ordinateur portatif</i> - <strong>Hugo Lhuilier</strong></p>
</div>

{% endblock %}
