{% extends 'base.html.twig' %}

{# title block unused #}
{% block title %}Hello HearthstoneCardbookController!{% endblock %}

{% block body %}

<h1>Welcome to my tavern, enjoy your stay !</h1>

<p>Here, you can login to create your own decks from personalised cards, or you can freely watch others decks !

<p><a href="{{path("hearthstone_cardbook")}}">Browse hearthstone cardbooks</a></p>

{% endblock %}
