{% extends 'base.html.twig' %}

{# title block unused #}
{% block title %}Hello HearthstoneCardbookController!{% endblock %}

{% block body %}

<div class="container">

    <h1 style="text-align: center">Welcome to my tavern, enjoy your stay !</h1>

    <p style="text-align: center">Here, you can login to create your own decks from personalised cards, or you can freely watch others decks !

    <br>

    <div class="d-flex justify-content-center">
    <a href="{{path("app_deck_index")}}"><button class="btn btn-primary">Browse hearthstone decks</button></a>
    </div>

{% endblock %}
