{% extends 'base.html.twig' %}

{% block title %}Edit Deck{% endblock %}

{% block body %}

<div class="container mt-5">
        <h1>Editing <strong>{{ deck.name }}</strong></h1>
</div>

<div class="container mt-5">
    {{ include('deck/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('deck/_delete_form.html.twig') }}
</div>
    
<div class="container mt-5">
    <div class="card bg-warning text-dark">
        <div class="card-body">Warning: deletion cannot be undone !</div>
    </div>

    <br>

    {# <div class="card bg-info text-dark">
        <div class="card-body">The action to add cards to a deck is currently unavailable. Please retry later.</div>
    </div> #} {# Not anymore !! it works lesgoooooooooo #}

    <br>
    
    <a href="{{ path('app_deck_show', {'id': deck.id}) }}"><button class="btn btn-warning">Cancel</button></a>
</div>

{% endblock %}
